In [2]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

In [3]:
data1 = pd.read_csv('df_final_demo.txt')
data1.head()

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0

In [4]:
data1.shape

(70609, 9)

In [5]:
data1['client_id'].nunique()

70609

In [6]:
data1.isna().sum()

client_id            0
clnt_tenure_yr      14
clnt_tenure_mnth    14
clnt_age            15
gendr               14
num_accts           14
bal                 14
calls_6_mnth        14
logons_6_mnth       14
dtype: int64

In [7]:
data1[data1['clnt_age'].isna()]

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
4164,7402828,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8316,355337,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8677,8412164,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9583,4666211,8.0,106.0,NaN,F,2.0,42550.55,4.0,7.0
13444,2222915,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18066,4876926,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25961,5277910,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28432,7616759,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35323,8191345,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43518,1227228,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46076,8611797,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47189,5144725,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49846,1037867,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63701,1618749,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66219,6021001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
data1.shape

(70609, 9)

In [9]:
data1 = data1.dropna()
data1.shape

(70594, 9)

In [10]:
data1.to_csv('df_final_demo.csv')

In [11]:
data2a = pd.read_csv('df_final_web_data_pt_1.txt')
data2b = pd.read_csv('df_final_web_data_pt_2.txt')

In [12]:
data2a.isna().sum()

client_id       0
visitor_id      0
visit_id        0
process_step    0
date_time       0
dtype: int64

In [13]:
data2b.isna().sum()

client_id       0
visitor_id      0
visit_id        0
process_step    0
date_time       0
dtype: int64

In [14]:
data2a.to_csv('df_final_web_data_pt_1.csv')
data2b.to_csv('df_final_web_data_pt_2.csv')

In [15]:
data2a.head()

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04

In [16]:
data2b.head()

,client_id,visitor_id,visit_id,process_step,date_time
0,763412,601952081_10457207388,397475557_40440946728_419634,confirm,2017-06-06 08:56:00
1,6019349,442094451_91531546617,154620534_35331068705_522317,confirm,2017-06-01 11:59:27
2,6019349,442094451_91531546617,154620534_35331068705_522317,step_3,2017-06-01 11:58:48
3,6019349,442094451_91531546617,154620534_35331068705_522317,step_2,2017-06-01 11:58:08
4,6019349,442094451_91531546617,154620534_35331068705_522317,step_1,2017-06-01 11:57:58

In [17]:
data2 = pd.concat([data2a, data2b], axis=0)

In [18]:
data2.shape

(755405, 5)

In [19]:
data2.to_csv('df_final_web_data.csv')

In [32]:
dataXXX = data1.merge(data2, left_on='client_id', right_on='client_id')
dataXXX.shape # this is not the correct way to merge

(449704, 13)

In [33]:
data = data2.merge(data1, left_on='client_id', right_on='client_id')

In [34]:
data.shape

(449704, 13)

In [36]:
data.head()

,client_id,visitor_id,visit_id,process_step,date_time,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0

shape of original data2 merged file was ~700k but this merged file has ~450k. This means that there are a lot of clients in the data1 file that are not present here

In [37]:
data3 = pd.read_csv('df_final_experiment_clients.txt')
data3.head()

   client_id Variation
0    9988021      Test
1    8320017      Test
2    4033851   Control
3    1982004      Test
4    9294070   Control

In [38]:
data3.shape

(70609, 2)

In [39]:
data3.isna().sum()

client_id        0
Variation    20109
dtype: int64

In [42]:
data3 = data3.dropna()
data3.shape

(50500, 2)

In [44]:
data3['client_id'].nunique()

50500

In [45]:
data = data.merge(data3, left_on='client_id', right_on='client_id')

In [46]:
data3.to_csv('df_final_experiment_clients.csv')

In [47]:
data.shape

(321195, 14)

as you can see , again there's some information drop
from ~450 k to ~320k. As some other analysis, you can find out which were the clients whose information was available on data3 but not in data2

In [51]:
data.isna().sum()

client_id           0
visitor_id          0
visit_id            0
process_step        0
date_time           0
clnt_tenure_yr      0
clnt_tenure_mnth    0
clnt_age            0
gendr               0
num_accts           0
bal                 0
calls_6_mnth        0
logons_6_mnth       0
Variation           0
dtype: int64

In [52]:
data['date_time'] = pd.to_datetime(data['date_time'])

In [53]:
data.to_csv('finalMergedFile.csv')

In [54]:
data.shape

(321195, 14)

In [55]:
df = data.copy()

In [61]:
df = df.drop_duplicates() 
df.shape

(317123, 14)

In [63]:
# df.duplicated().value_counts() # To check if the code worked

In [64]:
df.head()

,client_id,visitor_id,visit_id,process_step,date_time,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,Variation
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,Test
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,Test
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,Test
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,Test
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,Test

In [67]:
df['process_step'].unique() # This is the complete registration process

array(['step_3', 'step_2', 'step_1', 'start', 'confirm'], dtype=object)

#### analysing test data , how many people started and how many finished

In [129]:
test = df[df['Variation']=='Test']
test = test.reset_index(drop=True)
test.shape

(176641, 14)

In [130]:
test_started = test[test['process_step']=='start'].reset_index(drop=True)
# test_started.head()

# number of people who started the test is 
print(test_started['client_id'].nunique())

26672

In [131]:
# number of unique ids in the dataframe 
print(test['client_id'].nunique())

26961

In [203]:
# this difference means that there are a lot of client ids that did not start but
# present in this data set. THey would be removed from analysis as they are faulty onservations

In [133]:
ids = set(test['client_id'].unique())-set(test_started['client_id'].unique())
ids = list(ids)
print(len(ids))
ids[:5]

289

[3580416, 6225921, 5899779, 7910915, 9228292]

In [135]:
test = test[test['client_id'].isin(test_started['client_id'].unique())]
test.shape  # clean test

(175666, 14)

In [141]:
test[test['process_step']=='start']['client_id'].nunique()

26672

In [147]:
print(len(test[test['process_step']=='start']['client_id']))
print('since this number is different than unique start values, therefore there should be some customers that repeated the process')

55753
since this number is different than unique start values, therefore there should be some customers that repeated the process

In [148]:
test[test['process_step']=='confirm']['client_id'].nunique()

18407

##### In test variation, 26672 clients started the test and 18407 finished

In [ ]:
# Now we will follow a similar strategy for control data

In [153]:
control = df[df['Variation']=='Control'].reset_index(drop=True)
control.shape

(140482, 14)

In [151]:
ids_list = set(control['client_id'].unique())-set(control[control['process_step']=='start']['client_id'].unique())
ids_list = list(ids_list)
print(len(ids_list))
ids_list[:5]

135

[5907969, 4424716, 6338574, 89108, 1363990]

In [154]:
keep_list = control[control['process_step']=='start']['client_id'].unique()
control = control[control['client_id'].isin(keep_list)]
control.shape

(139996, 14)

In [155]:
len(control[control['process_step']=='confirm'])

17168

In [156]:
control[control['process_step']=='confirm']['client_id'].nunique()

15312

In [157]:
len(control[control['process_step']=='start'])

45361

In [158]:
control_start['client_id'].nunique()

23391

##### In control variation, 23391 clients started the test and 15312 finished

In [159]:
# Control : Percent of clients completed the process

In [163]:
round(15312/23391,4)

0.6546

In [161]:
# Test : Percent of clients completed the process

In [164]:
round(18407/26672,4)

0.6901

In [215]:
test_uniques = test.drop_duplicates(subset=['client_id', 'process_step'], keep='last').sort_values(by=['client_id', 'date_time'])
# test_uniques

In [217]:
control_uniques = control.drop_duplicates(subset=['client_id', 'process_step'], keep='last').sort_values(by=['client_id', 'date_time'])
# control_uniques

In [220]:
test_uniques['process_step'].value_counts()

start      26672
step_1     24194
step_2     22183
step_3     20790
confirm    18407
Name: process_step, dtype: int64

In [221]:
control_uniques['process_step'].value_counts()

start      23391
step_1     20076
step_2     18567
step_3     17325
confirm    15312
Name: process_step, dtype: int64

In [223]:
# With this we can see the number of drop outs at each step

In [ ]:
pd.concat([test_uniques, control_uniques], axis=0).to_csv('tableau_file.csv')

In [165]:
def step_counter(df):
    start_check = []
    step1 = []
    step2 = []
    step3 = []
    confirm = []
    clients = df['client_id'].unique()
    for client in clients:
        test_df = df[df['client_id']==client]
        process_steps_followed = list(set(test_df['process_step']))
        if 'confirm' in process_steps_followed:
            confirm.append(client)
        elif 'step_3' in process_steps_followed:
            step3.append(client)
        elif 'step_2' in process_steps_followed:
            step2.append(client)   
        elif 'step_1' in process_steps_followed:
            step1.append(client)
        else:
            start_check.append(client)
    return start_check, step1, step2, step3, confirm

In [166]:
start_check_test, step1_test, step2_test, step3_test, confirm_test = step_counter(test)

In [185]:
total_test = test['client_id'].nunique()
len(confirm_test)/total_test

0.690124475104979

In [170]:
len(step3_test)

2432

In [171]:
len(step3_test)/total_test

0.09118176364727054

In [172]:
len(step2_test)

1405

In [173]:
len(step2_test)/total_test

0.05267696460707858

In [174]:
len(step1_test)

1974

In [175]:
len(step1_test)/total_test

0.07401019796040792

In [176]:
len(start_check_test)

2454

In [177]:
len(start_check_test)/total_test

0.09200659868026395

In [178]:
total_test = len(confirm_test)+len(step3_test)+len(step2_test)+len(step1_test)+len(start_check_test)
total_test

26672

In [182]:
start_check_control, step1_control, step2_control, step3_control, confirm_control = step_counter(control)

In [183]:
len(confirm_control)

15312

In [186]:
total_control = control['client_id'].nunique()
len(confirm_control)/total_control

0.6546107477234834

In [187]:
len(step3_control)

2082

In [188]:
len(step3_control)/total_control

0.08900859304860843

In [189]:
len(step2_control)

1260

In [190]:
len(step2_control)/total_control

0.053866871873797614

In [191]:
len(step1_control)

1452

In [192]:
len(step1_control)/total_control

0.06207515711170963

In [193]:
len(start_check_control)

3285

In [194]:
len(start_check_control)/total_control

0.1404386302424009

In [195]:
total_control = len(confirm_control)+len(step3_control)+len(step2_control)+len(step1_control)+len(start_check_control)
total_control

23391

I also saw that for some clients , there were repeats in the confirm. Same with start
Maybe the page get stuck or it doesnt go through in one time 
For eg.

In [197]:
# df[df['client_id']==836976]

In [222]:
counts_test = pd.DataFrame(test.groupby(['client_id', 'process_step']).agg({'Variation': 'count'})).reset_index()
# counts_test

In [ ]:
counts_test_start = counts_test[counts_test['process_step']=='start']
counts_test_start = counts_test_start[counts_test_start['Variation']>1]
counts_test_start = counts_test_start.reset_index().drop(['index'], axis=1)

counts_test_step1 = counts_test[counts_test['process_step']=='step_1']
counts_test_step1 = counts_test_step1[counts_test_step1['Variation']>1]
counts_test_step1 = counts_test_step1.reset_index().drop(['index'], axis=1)

counts_test_step2 = counts_test[counts_test['process_step']=='step_2']
counts_test_step2 = counts_test_step2[counts_test_step2['Variation']>1]
counts_test_step2 = counts_test_step2.reset_index().drop(['index'], axis=1)

counts_test_step3 = counts_test[counts_test['process_step']=='step_3']
counts_test_step3 = counts_test_step3[counts_test_step3['Variation']>1]
counts_test_step3 = counts_test_step3.reset_index().drop(['index'], axis=1)

counts_test_confirm = counts_test[counts_test['process_step']=='comfirm']
counts_test_confirm = counts_test_confirm[counts_test_confirm['Variation']>1]
counts_test_confirm = counts_test_confirm.reset_index().drop(['index'], axis=1)

In [ ]:
counts_test_start.head()

Now we can check what percentage of clients had to restart the process in the test variation

In [ ]:
counts_control = pd.DataFrame(control.groupby(['client_id', 'process_step']).agg({'Variation': 'count'})).reset_index()
counts_control.head()

In [ ]:
counts_control_start = counts_control[counts_control['process_step']=='start']
counts_control_start = counts_control_start[counts_control_start['Variation']>1]
counts_control_start = counts_control_start.reset_index().drop(['index'], axis=1)

counts_control_step1 = counts_control[counts_control['process_step']=='step_1']
counts_control_step1 = counts_control_step1[counts_control_step1['Variation']>1]
counts_control_step1 = counts_control_step1.reset_index().drop(['index'], axis=1)

counts_control_step2 = counts_control[counts_control['process_step']=='step_2']
counts_control_step2 = counts_control_step2[counts_control_step2['Variation']>1]
counts_control_step2 = counts_control_step2.reset_index().drop(['index'], axis=1)

counts_control_step3 = counts_control[counts_control['process_step']=='step_3']
counts_control_step3 = counts_control_step3[counts_control_step3['Variation']>1]
counts_control_step3 = counts_control_step3.reset_index().drop(['index'], axis=1)

counts_control_confirm = counts_control[counts_control['process_step']=='comfirm']
counts_control_confirm = counts_control_confirm[counts_control_confirm['Variation']>1]
counts_control_confirm = counts_control_confirm.reset_index().drop(['index'], axis=1)

Now we can check what percentage of clients had to restart the process in the control variation